body {
    /*background-color: rgb(27, 27, 41);*/
    color: aliceblue;
    font-family: trendy;
}
#comicHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
a {
    font-size: 25px;
    color: aliceblue;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

h1 {
    margin: 0.5%;
}

img {
    height: 50em;
}
.divider {
    width: 100%;
    border: 1px solid #ddd;
}
.search:after {content:""; clear:both; display:table}
.search form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.search input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.search input:focus {
  width: 300px;
}
.search button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.search button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}